[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
emoji = "*"
vadersentiment = "*"
pyttsx3 = "*"
pynacl = "*"

[requires]
python_version = "3.8"
